		body{
			background-image:url("images/OIP (1).jpg");
		}	
		.two{
			text-align:center;
			}
		.three{
			color:white;
			}
		.four{
			color:orange;
			padding:0px 80px;
			}
		.five{
			color:orange;
			padding:0px 60px;
			}
		.six{
			border:1px solid white;
			border-radius:5px;
			padding:10px 130px;
			color:white;
			background-color:orange;
		}
		.seven{
			border:1px solid white;
			border-radius: 5px;
			padding: 10px 100px;
			background-color:orange;
			color:white;
		}
		.eight{
			color: white;
		}
