
body{
	background-image:url("D:/hejex technology/project/images/OIP (1).jpg");
	}
	
.one{
	text-align:center;
	}
.two{
	color:white;
	text-align:center;
	}
.three{
	text-align:justify;
	}
.four{
	border:1px solid white;
	background-color:orange;
	padding:10px 50px;
	}
.five{
	color:white;
	}
.seven{
	border:1px solid black;
	border-radius:10px;
	}
.eight{
	color: orange;
	}
.nine{
	background-color: Orange;
	color: white;
	}